<mat-toolbar color="primary" id="toolbar-color" class="mat-elevation-z4" class="toolbar" >


  <div class="example-button-row">
    <a class="navbar-brand mb-0 h1" [routerLink]="['/']">
      <img class = "logo" src="https://media.istockphoto.com/vectors/letter-logo-custom-serif-style-lettering-with-hand-drawn-brush-stroke-vector-id1208204438?k=20&m=1208204438&s=612x612&w=0&h=JpIbhnCjVSE_26a_dJFtPpKwWJMOqk2PWiqIswpWe5Q=" width="30" height="30"
          class="d-inline-block align-top" alt="">
      GoQuery
  </a>
  </div>

  <div class="spacer"></div>
  <a  [routerLink]="['/register']"  class="register-btn" style="margin-right: 16px;">Register</a>
   <a  [routerLink]="['/login']"  class="register-btn" style="margin-right: 16px;">Login</a>
  
  
  
</mat-toolbar>
        

        <div class="container-fluid">
          <div class ="row">
            <div class ="col-6 d-flex justify-content-c">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Why to use this platform?</mat-card-title>
                  <mat-card-subtitle>GoQuery</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://media.istockphoto.com/vectors/concept-of-business-and-finance-icons-with-funny-stickman-set-vector-vector-id936398964?k=20&m=936398964&s=612x612&w=0&h=wsf8-9wN76ASa3bRaWr_4I3YLfQmIIsNruITeDBZi7E=">
                <mat-card-content>
                  <p>
                    Q&A (Question and Answer) platform attempts to provide answers to questions asked by users. Such platforms are frequently integrated by large and specialist corporations.
                    Every User can frame Questions.....<br>
                    <i>
                      <b>Because It is not the answer that enlightens, but the Question.--Eugene Jonesco </b>
                    </i>
                     
                    
                  </p>
                </mat-card-content>
              
              </mat-card>
              

            </div>
            <div class = "col-6">
              <mat-card class="example-card">
                <mat-card-header>
                  
                  <mat-card-title>User Friendly</mat-card-title>
                  <mat-card-subtitle>GoQuery</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://media.istockphoto.com/vectors/two-person-with-question-and-answer-vector-id1222343305?k=20&m=1222343305&s=612x612&w=0&h=HCU1yBKQ5-qOrVpGjozBi_l-fLv4fZWTZCBW11dpo9k=">
                <mat-card-content>
                  
                  <p>
                    
                    <i>Questions never stops a man it helps in inventing or discovering great things.</i>
                    <i><b>“Every solution to every problem is simple. It's the distance between the two where the mystery lies. ― Derek Landy”</b></i>
                
                  </p>
                </mat-card-content>
                
              </mat-card>
              
            </div>

          </div>
        </div>

        <footer class="py-3 bg-dark">
          <div class="container text-center mt-2">
            
            <div class="new"><h2 >Developers:</h2>
              <i>Prashanth</i></div>
             
              <p class="m-0 text-center text-white">
                
                <i>Kiran, Animesh, Rohith, Saheem, Harsh, Ayaush, Ankit, Aditya, Koteswarrao</i><br>

                  © 2021 Copyright:
              <a href="http://localhost:4200/"> GoQuery.com</a>
              </p>
          </div>
      </footer>

      
       
