<div class="home">
<mat-toolbar color="primary" id="toolbar-color" class="mat-elevation-z4" class="toolbar" >


  <div class="example-button-row">
    <a class="navbar-brand mb-0 h1" [routerLink]="['/dashboard']">
      <img src="https://media.istockphoto.com/vectors/letter-logo-custom-serif-style-lettering-with-hand-drawn-brush-stroke-vector-id1208204438?k=20&m=1208204438&s=612x612&w=0&h=JpIbhnCjVSE_26a_dJFtPpKwWJMOqk2PWiqIswpWe5Q=" width="30" height="30"
          class="d-inline-block align-top" alt="">
      GoQuery
  </a>
  </div>

  <div class="spacer"></div>
  
  <a [routerLink]="['/questionlanding']" class="answer-button" style="margin-right: 16px">+Answer</a>
  <a class="question-button" style="margin-right: 16px" [routerLink]="['/addquestion']">+Question</a>
  <a class="profile-button" style="margin-right: 16px" [routerLink]="['/questioner']">Profile</a>
  <a [routerLink]="['/login']" (click) = "logOut()" class="logout-button" style="margin-right: 16px">LogOut</a>
  
</mat-toolbar>

<div class="question-search">
  <input type="text" class="SearchBox" id ="search-box" [(ngModel)]="searchQuery" placeholder="Search for questions">
</div>
<div class="example-button-row">
  <button mat-raised-button type = "submit" (click)= "search()"class="button-color" >Search</button>
</div>

<div  *ngFor="let question of questions">
  <mat-card class="example-card" (click)="getAllAnswers(question?.uuidQuestionId)" title="Show All Answers">
    <!-- <mat-card-title class="question-title-dashboard" (click)="getAllAnswers(question?.uuidQuestionId)"
      title="Show all answers"><span class="hoverable">{{question.strQuestionTitle}}</span></mat-card-title> -->
      <h2 [innerHtml]="question.strQuestionTitle"></h2>
    <mat-card-content *ngFor="let tag of question.arrQuestionTags">
      <b>{{tag}}&nbsp;&nbsp; </b>
    </mat-card-content>

  </mat-card>

</div>

</div>

<!-- <mat-card class="example-card" >
  <div *ngFor="let question of Questions">
    <mat-card-title><a [routerLink]="['/answer']">{{question.strQuestionTitle}}</a></mat-card-title>
    <mat-card-content *ngFor= "let tag of question.arrQuestionTags">
      <b>{{tag}}&nbsp;&nbsp; </b>
    </mat-card-content>
   
    <mat-card-actions>
      <button mat-button (click) = "upVote(question)" class="vote">UPVOTE</button> {{question.intQuestionUpvote}}
      <button mat-button (click) = "downVote(question)"class="vote">DOWNVOTE</button> {{question.intQuestionDownvote}}
      
    </mat-card-actions>
  </div>
  </mat-card> -->