
.container{
  height: 100%;
  width: 100%;
}

.navbar {
  justify-content: space-between;
  width: 100%;
}
#toolbar-color{
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}

span{
  padding-right: 1rem;
}
.spacer {
  flex: 1 1 auto;
}

:host {
    display: flex;
    align-items: flex-start;
  } 
  
/* .answerCard{
  width: 80%;
    height: 80%;
    
    margin-left:auto;
    margin-right:auto;  
    margin-top: 10%;
    margin-bottom: auto;
    vertical-align:middle;
} */
.formlook{
  position: relative;
  margin-top: 12%;
  width: 100%;
  height: 80%;
  background: hsl(205deg 7% 83% / 90%);
}


 

.q-title{
  font-size: 35px;
  
}
a{
  text-decoration: none;
  color: wheat;
}
img
{
    border-radius: 40%;
    align-items: center;
}


